# =====================
# Python
# =====================
venv/
airflow-venv/
__pycache__/
*.pyc

# =====================
# Data (NEVER COMMIT)
# =====================
data/raw/
data/processed/
data/aggregated/
data/checkpoints/

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# Airflow
# =====================
airflow.db
airflow.cfg
webserver_config.py

# =====================
# OS / System
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.vscode/



